<h1>Συχνές Βλάβες</h1>
<p>Εδω μπορείτε να βρήτε πληροφορίες που θα σας βοηθήσουν να αντιμετοπισετε-καταλάβετε</br>
    μόνοι σας το πρόβλημα
    <li>Eclass</li><p> οδηγίες ............</br>........</p>
    <li>Σύνδεση τηλεφώνου</li><p> οδηγίες ............</br>........</p>
    <li>Σύνδεση internet</li><p> οδηγίες ............</br>........</p>
  </p>
